<div class="header">

</div>
<nav>
<ul>
    <li>
        <% if(user) { %>
            <a href="/logout">Logout</a>
        <% } else { %>
            <a href="/auth/google">Log In</a>
        <% } %>
    </li>
    <li><a href="/users/profile">My Profile</a></li>
    <li><a href="/races">View All Races</a></li>
</ul>
</nav>
<div id="modal-container" class="hidden">
    <div id="modal">
        <p id="modal-content"></p>
        <form id="modal-confirm" action="" method="POST">
            <button type="submit">Yes, delete</button></a>
        </form>

        <button id="modal-cancel">Cancel</button>
    </div>
</div>