<div class="header">

</div>
<nav>
<ul>
    <li>
        <% if(user) { %>
            <a href="/logout">Logout</a>
        <% } else { %>
            <a href="/auth/google">Log In</a>
        <% } %>
    </li>
    <li><a class='<%= (typeof isOwner !== 'undefined' && isOwner) ? "active" : "" %>' href="/users/profile">My Profile</a></li>
    <li><a class='<%= (locals.originalUrl === "/races") ? "active" : "" %>' href="/races">View All Races</a></li>
</ul>
</nav>
<div id="modal-container" class="hidden">
    <div id="modal">
        <p class="modal-header">Confirm Action</p>
        <p id="modal-content"></p>
        <div>
            <form id="modal-confirm" action="" method="POST">
                <button type="submit">Yes, delete</button></a>
            </form>
            <button id="modal-cancel">Cancel</button>
        </div>
    </div>
</div>