<div class="header">
<h1>50 by 50</h1>
<div>
    <h2>Run a marathon in every state!</h2>
    <h3>Come on you can do it!</h3>
</div>
</div>
<nav>
    <ul>
        <li><a class='<%= (typeof isOwner !== 'undefined' && isOwner) ? "active" : "" %>' href="/users/profile">My Profile</a></li>
        <li><a class='<%= (locals.originalUrl === "/races") ? "active" : "" %>' href="/races">View All Races</a></li>
        <li>
            <% if(user) { %>
                <a href="/logout">Logout</a>
            <% } else { %>
                <a href="/auth/google">Log In</a>
            <% } %>
        </li>
</ul>
</nav>
<div id="modal-container" class="hidden">
    <div id="modal">
        <p class="modal-header">Confirm Action</p>
        <p id="modal-content"></p>
        <div>
            <form id="modal-confirm" action="" method="POST">
                <button type="submit">Yes, delete</button></a>
            </form>
            <button id="modal-cancel">Cancel</button>
        </div>
    </div>
</div>