:root {
  --theme-blue: #267DA1;
  --theme-red: #8C4040;
}

*{
  margin: 0;
  padding: 0;
}

body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  font-weight: normal;
}

p {
  margin-bottom: 10px;
}

a {
  color:  #46a5cc;
  text-decoration: none;
}

a:hover {
  color:  #398cad;
}

ul li {
  list-style-type: none;
}

div.header {
  height: 90px;
  background-color: var(--theme-blue);
  color: #fff;
  position: static;
}

nav {
  height: 60px;
  background-color: var(--theme-red);
}

nav ul {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 20px;
}

nav li {
  display: inline-block;
  margin: 0 15px;
}

nav li a {
  color: #fff;
  letter-spacing: 1px;
}

nav li a:hover {
  color: #46a5cc;
}

.container {
  margin: 0 60px;
}

.container.full {
  margin: 0;
}

#front-pg-img {
  height: 83vh;
  width: 60%;
  display: inline-block;
}

#front-pg-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#front-pg-content {
  display: inline-block;
  width: 350px;
  background-color: var(--theme-blue);
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

#front-pg-content p {
  margin-bottom: 20px;
  font-size: 20px;
}

#front-pg-content a {
  display: block;
  text-align: center;
}

#front-pg-content button {
  font-size: 16px;
  padding: 15px;
  border: none;
  outline: none;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: 5px 5px 2px rgba(0,0,0, 0.1);
  border-radius: 3px;
  border: 1px solid #797979;
  background-color: #efefef;
  color: #46a5cc;
}

#front-pg-content button:hover {
  background-color: #ccc;
  color: #272727;
}

.left {
  width: 45%;
  float: left;
  padding-top: 60px;
  border-right: 1px solid rgb(24, 24, 24);
  min-height: 70vh;
}

.right {
  width: 45%;
  float: right;
  padding-top: 60px;
  padding-left: 30px;
}

#race-info {
  margin-top: 40px;
}

#races {
  margin-left: 10px;
  margin-top: 40px;
}

#races ul li {
  margin-bottom: 10px;
}

#races ul li a {
  margin-right: 5px;
  font-weight: bold;
}

#races .current-race a {
  color: var(--theme-red);
}

.current-time {
  margin-top: 20px;
}
.current-time span {
  font-weight: bold;
  display: block;
}

.large-link {
  margin: 40px 0;
  font-size: 16px;
  display: block;
}

#fastest {
  display: inline-block;
  padding: 15px 30px 5px 30px;
  background-color: rgb(187, 186, 247);
  border-radius: 5px;
  box-shadow: 4px 4px 5px rgba(0,0,0,0.2);
}

#fastest span {
  display: block;
  margin-bottom: 10px;
}

#fast-title {
  font-size: 18px;
  font-weight: bold;
}

#racers {
  margin-top: 40px;
}

#racers ul:nth-child(even){
  background-color: #ccc;
  /* TODO Make sure this works */
}