:root {
  --theme-blue: #267DA1;
  --theme-red: #8C4040;
}

*{
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 20px;
}

p {
  margin-bottom: 10px;
}

a {
  color:  #46a5cc;
}
/* Use the line below to use CSS variables on elements */
 /* background-color: var(--theme-blue); */

div.header {
  height: 90px;
  background-color: var(--theme-blue);
  color: #fff;
  position: static;
}

nav {
  height: 60px;
  background-color: var(--theme-red);
}

nav ul {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 20px;
}

nav li {
  display: inline-block;
  margin: 0 15px;
}

nav li a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
}

nav li a:hover {
  color: #46a5cc;
}

.container {
  margin: 0 60px;
}

.container.full {
  margin: 0;
}

#front-pg-img {
  height: 83vh;
  width: 60%;
  display: inline-block;
}

#front-pg-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#front-pg-content {
  display: inline-block;
  width: 350px;
  background-color: var(--theme-blue);
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

#front-pg-content p {
  margin-bottom: 20px;
  font-size: 20px;
}

#front-pg-content a {
  display: block;
  text-align: center;
}

#front-pg-content button {
  font-size: 16px;
  padding: 15px;
  border: none;
  outline: none;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: 5px 5px 2px rgba(0,0,0, 0.1);
  border-radius: 3px;
  border: 1px solid #797979;
  background-color: #efefef;
  color: #46a5cc;
}

#front-pg-content button:hover {
  background-color: #ccc;
  color: #272727;
}

.left {
  width: 49%;
  float: left;
  margin-top: 60px;
  border-right: 1px solid rgb(24, 24, 24);
  min-height: 70vh;
}

.right {
  width: 49%;
  float: right;
  margin-top: 60px;
}

#race-info {
  margin-top: 40px;
}

#races {
  margin-left: 10px;
  margin-top: 40px;
}